<form method="post" action="/create">
  <label for="filename">
    Add a new document:
    <div>
      <input type="text" name="filename" id="filename">
      <input type="submit" value="Create">
    </div>
  </label>
    
</form>